[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vsketch = {git = "https://github.com/abey79/vsketch"}
scipy = "*"
laszip = "*"
laspy = "*"
matplotlib = "*"
numpy = "*"
plotter-util = {editable = true, path = "./plotter_util"}
pyshp = "*"
perlin-noise = "*"
occult = {git = "https://github.com/LoicGoulefert/occult.git"}
rasterio = "*"
iso = {editable = true, path = "./iso"}
line-profiler = "*"

[dev-packages]

[requires]
python_version = "3.9"
